.footer {
  &__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 127px;
    margin: 0 15px;
  }

  &__column {
  }

  &__text {
    display: block;
    padding: 0 10px 0 0;
    color: #4d4d4d;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;

    span {
      text-decoration: underline;
    }
  }
  @media (max-width: 520px) {
    &__body {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 25px 0;
    }
  }
}
