//!------------Variables------------
$mxw: 870px;
$bgc: #fff;
//!------------------------------------
//?------------mixin------------
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
//?------------------------------------

//?------------fonts------------

@import "fonts";

//*Default font:
$font_family: "PT Sans", sans-serif;
//?------------------------------------

//*------------styles------------
@import "reset";
//!@import "slider";
@import "header";
@import "footer";
//*------------------------------------

//TODO------------workplace------------
//*------------container------------
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: $bgc;
}
.container {
  max-width: $mxw;
  margin: 0 auto;
}
.btn {
  width: 160px;
  height: 50px;
  line-height: 50px;
  background-color: #000;
  display: inline-block;
  padding: 0 33px;
  font-size: 15px;
  font-family: "BEBAS";
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.5px;
  &:hover {
    text-decoration: underline;
  }
  &__w {
    background-color: #fff;
    color: #000;
  }
}
//*-----------------ibg-------------------
//?-explanation of code to look at README-
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}
//*---------------------------------------
.main-screen {
  &__body {
    display: flex;
    flex-direction: row;
    background-color: #000000;
  }
  &__logo {
    height: 100%;
  }
  &__content {
    flex: 0 0 50%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    margin: 75px 0 75px 62px;
    color: #fff;
  }

  &__title {
    font-family: "Grotesk";
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 27px 0 0 0;
  }

  &__buttons {
    font-weight: 400;
    margin: 45px 0 0 0;
  }

  &__link {
    color: #000000;
    margin: 0 15px 0 0;
  }

  &__link-c {
  }
  @media (max-width: 767px) {
    &__container {
      max-width: 270px;
      margin: 75px 15px 75px 62px;
    }
    &__title {
      font-size: 35px;
      line-height: 35px;
    }

    &__text {
      font-size: 15px;
      line-height: 15px;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    &__link {
      margin: 0 5px 0 0;
    }

    &__link-c {
    }
  }
  @media (max-width: 470px) {
    &__body {
      flex-direction: column;
    }
    &__container {
      margin: 45px 15px 35px 42px;
    }
    &__logo {
      height: 0%;
    }
  }
}
.link {
  font-family: "BEBAS";
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #000000;
  text-decoration: underline;
  margin: 28px 0 0 0;
  &__w {
    color: #fff;
    margin: 0;
  }
}
.content {
  &__body {
    display: flex;
    flex-direction: row;
    margin: 75px 5px 0 5px;
  }

  &__column {
    flex: 0 0 25%;
    display: flex;
  }
  @media (max-width: 767px) {
    &__body {
      flex-wrap: wrap;
    }
    &__column {
      flex: 0 0 50%;
      justify-content: center;
    }
  }
  @media (max-width: 470px) {
    &__column {
      flex: 0 0 100%;
      justify-content: center;
    }
  }
}
.column {
  &__body {
    display: flex;
    flex-direction: column;
    max-width: 220px;
  }

  &__img {
    width: 100%;
    height: 225px;
  }

  &__title {
    color: #000000;
    font-family: "Grotesk";
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 25px 25px 0 0;
  }

  &__text {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 25px 15px 0 0;
    flex: 1 1 auto;
  }

  &__button {
    display: flex;
    flex-direction: column;
    margin: 32px 15px 0 0;
  }

  &__link {
  }
}
//*=======================================
.choose {
  display: flex;
  flex-direction: column;
  margin: 80px 0 0 0;
  &__top {
    display: flex;
    flex-direction: row;
    background: #000;
  }

  &__title {
    color: #ffffff;
    font-family: "Grotesk";
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    flex: 0 0 50%;
    padding: 0 60px 0 0;
    margin: 56px 0 56px 0;
    text-align: right;
    //!====================
  }

  &__image {
    width: 100%;
  }

  &__bottom {
    width: 100%;
    background: #ebebeb;
  }
}
.item-choose {
  &__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10px;
    margin: 25px 0 0 0;
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex: 0 0 50%;
    margin: 25px 0;
  }

  &__logo {
    height: 100%;
    background: #000;
    text-align: center;
    min-width: 100px;
    max-width: 100px;
    padding: 16px 0;
    margin: 0 auto;
  }

  &__column {
    margin: 0 0 0 12px;
  }

  &__label {
    color: #000000;
    font-family: "Grotesk";
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }

  &__text {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 25px 0 0 0;
  }
  @media (max-width: 767px) {
    &__row {
      flex: 0 0 100%;
    }
    &__logo {
      margin: 0;
      padding: 20px 0;
    }
  }
}

.info {
  &__body {
    margin: 80px 0 0 0;
  }

  &__title {
    color: #000000;
    font-family: "Grotesk";
    font-size: 50px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &__text {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 5px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 0 50%;
  }
  @media (max-width: 767px) {
    &__item {
      flex: 0 0 100%;
    }
  }
}
.item-info {
  display: flex;
  flex-direction: row;
  margin: 30px 0 0 0;
  padding: 0 7px 0 0;
  @media (max-width: 767px) {
    margin: 10px 0 0 0;
  }
  &__text {
  }
}
.info-item {
  &__label {
    margin: 0 10px 0 0;
  }
}
//*=======================================

.contact {
  display: flex;
  flex-direction: row;
  background: #000;
  margin: 20px 0 0 0;
  &__row {
    flex: 0 0 50%;
  }
  &__map {
    width: 100%;
    height: 100%;
  }

  &__form {
    margin: 50px 60px;
  }

  &__form-title {
    color: #ffffff;
    font-family: "Grotesk";
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    &__row {
      flex: 0 0 100%;
    }
    &__map{
      height: 500px;
    }
  }
}
.form {
  &__form {
    max-width: 374px;
    input,
    textarea {
      border: 2px solid #959595;
      background-color: #252525;
      width: 100%;
      padding: 15px;
    }
    input {
      height: 46px;
    }
    textarea {
      height: 100px;
    }
  }

  &__name {
    margin: 30px 0 0 0;
  }

  &__contact {
    margin: 25px 0 0 0;
  }

  &__message {
    margin: 25px 0 0 0;
  }

  &__button {
    button {
      line-height: 25px;
      width: 200px;
    }
    margin: 25px 0 0 0;
  }
}

//TODO------------------------------------
