//!------------Variables------------
$mxw: 870px;
$bgc: #fff;
//!------------------------------------
//?------------mixin------------
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
//?------------------------------------

//?------------fonts------------

@import "fonts";

//*Default font:
$font_family: "PT Sans", sans-serif;
//?------------------------------------

//*------------styles------------
@import "reset";
//!@import "slider";
@import "header";
@import "footer";
//*------------------------------------

//TODO------------workplace------------
//*------------container------------
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: $bgc;
}
.container {
  max-width: $mxw;
  margin: 0 auto;
}
//*-----------------ibg-------------------
//?-explanation of code to look at README-
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}
//*---------------------------------------
.main-screen {
  &__body {
    display: flex;
    flex-direction: row;
    background-color: #000000;
  }
  &__logo {
    height: 100%;
  }
  &__content {
    flex: 0 0 50%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    margin: 75px 0 75px 62px;
    color: #fff;
  }

  &__title {
    font-family: "Grotesk";
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 27px 0 0 0;
  }

  &__buttons {
    font-weight: 400;
    margin: 45px 0 0 0;
  }

  &__link {
    color: #000000;
    margin: 0 15px 0 0;
  }

  &__link-c {
    font-family: "BEBAS";
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #fff;
    text-decoration: underline;
  }
  @media (max-width: 767px) {
    &__container {
      max-width: 270px;
      margin: 75px 15px 75px 62px;
    }
    &__title {
      font-size: 35px;
      line-height: 35px;
    }

    &__text {
      font-size: 15px;
      line-height: 15px;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    &__link {
      margin: 0 5px 0 0;
    }

    &__link-c {
    }
  }
  @media (max-width: 470px) {
    &__body {
      flex-direction: column;
    }
    &__container {
      margin: 45px 15px 35px 42px;
    }
    &__logo {
      height: 0%;
    }
  }
}

.btn {
  width: 160px;
  height: 50px;
  line-height: 50px;
  background-color: #000;
  display: inline-block;
  padding: 0 33px;
  font-size: 15px;
  font-family: "BEBAS";
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.5px;
  &__w {
    background-color: #fff;
    color: #000;
  }
}
//TODO------------------------------------
