<header class="header">
  <div class="container">
    <div class="header__body">
      <div class="header__top">
        <div class="header__lang lang">
          <a href="" class="lang__link active">EN</a>
          <a href="" class="lang__link">RU</a>
          <a href="" class="lang__link">ESP</a>
        </div>
        <a href="" class="header__order">Online ordering</a>
      </div>
      <div class="header__bottom">
        <div class="header__icon">
          <a href="" class="header__link">
            <span class="header__text">
              NY<span id="header__special">C'S</span>
            </span>
            <span class="header__logo">
              <img src="img/icons/logo.png" alt="" />
            </span>
            <span class="header__text">Catering</span>
          </a>
        </div>
        <nav class="header__menu menu">
          <div class="menu__icon icon-menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="menu__body">
            <ul class="menu__list">
              <li>
                <a href="" class="menu__link">ABOUT</a>
              </li>
              <li>
                <a href="" class="menu__link">Menus</a>
              </li>
              <li>
                <a href="" class="menu__link">Service Info</a>
              </li>
              <li>
                <a href="" class="menu__link">Gallery</a>
              </li>
              <li>
                <a href="" class="menu__link">Friends</a>
              </li>
              <li>
                <a href="" class="menu__link">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!--Code for menu "burger" -->
<!--
  <nav class="header__menu menu">
      <div class="menu__icon icon-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="menu__body"></div>
  </nav>
-->
